@using System.Security.Claims
@using FNews.ViewModels.Articles

@model AllArticlesViewModel

@{
    ViewData["Title"] = "Articles";
    if (User.Identity.IsAuthenticated)
    {
        ViewData["UserId"] = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }
}

<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-3 col-md-3">
                        <div class="section-tittle mb-30">
                            <h3>@ViewData["Title"]</h3>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab">
                                    <a asp-controller="Articles" asp-action="All" class="nav-item nav-link active" aria-selected="true">All</a>
                                    <a asp-controller="Articles" asp-action="UserArticles" asp-route-id="@ViewData["UserId"]" class="nav-item nav-link active" aria-selected="true">My Articles</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="whats-news-caption">
                                    <div class="row">
                                        @foreach (var article in Model.Articles)
                                        {
                                            <div class="col-lg-6 col-md-6">
                                                <div class="single-what-news mb-100">
                                                    <div class="what-img">
                                                        <img src="@article.ImageUrl" alt="">
                                                    </div>
                                                    <div class="what-cap">
                                                        <span class="color2">@article.TeamName</span>
                                                        <h4><a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">@article.Header</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Section Tittle -->
                <div class="section-tittle mb-40">
                    <a asp-controller="Articles" asp-action="Create" class="genric-btn large warning text-dark font-weight-bold">Create Article</a>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalArticles / AllArticlesViewModel.ArticlesPerPage);
}
<div class="pagination-area pb-45 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li>
                                <a class="genric-btn info radius" style="@(Model.CurrentPage == 1 ? "pointer-events:none" : string.Empty)"
                                   asp-controller="Articles"
                                   asp-action="@(ViewData["Path"] != null ? "UserArticles" : "All")"
                                   asp-route-currentPage="@previousPage"><<</a>
                            </li>
                            @{
                                var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Articles.Any();
                            }
                            <li>
                                <a class="ml-5 genric-btn info radius" style="@(shouldButtonBeDisabled ? "pointer-events:none" : string.Empty)"
                                   asp-controller="Articles"
                                   asp-action="@(ViewData["Path"] != null ? "UserArticles" : "All")"
                                   asp-route-currentPage="@(Model.CurrentPage + 1)">>></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>